---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Hero from "../components/Hero.astro";
import HvadKanDuGoere from "../components/HvadKanDuGoere.astro";
import PlasticChange from "../components/PlasticChange.astro";
import Plastikforurening from "../components/Plastikforurening.astro";
import Problemet from "../components/Problemet.astro";
import StoetMerchandise from "../components/StoetMerchandise.astro";
const schemamarkup = {
  "@context": "https://schema.org",
  "@type": "NGO",
  name: "Plastic Change",
  alternateName: "#SingleUseSucks",
  url: "https://singleusesucks-plasticchange.netlify.app/",
  logo: "",
  contactPoint: {
    "@type": "ContactPoint",
    telephone: "",
    contactType: "",
  },
  sameAs: ["https://www.facebook.com/plasticchange/", "https://www.instagram.com/plasticchange", "https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g", "https://www.linkedin.com/company/plastic-change"],
};
---

<MainLayout title="#SingleUseSucks - forside" description="Vi kæmper for et affaldsfrit samfund, hvor plastik bruges igen og igen" ogtitle="Plastic Change-Single use sucks" ogdescription="Plastikforurening i verdenshavene er et alvorligt problem, med omkring 8 millioner tons plastik, der hvert år havner i havene">
  <div class="hero">
    <Hero />
  </div>

  <div class="" id="plastikforurening">
    <Plastikforurening />
  </div>

  <div class="" id="problemet">
    <Problemet />
  </div>

  <div class="" id="hvadkandu">
    <HvadKanDuGoere />
  </div>

  <div class="" id="voresindsats">
    <PlasticChange />
  </div>

  <div class="" id="shop">
    <StoetMerchandise />
  </div>
</MainLayout>

<script type="application/ld+json" set:html="{JSON.stringify(schemamarkup)}" />
