---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Hero from "../components/Hero.astro";
import HvadKanDuGoere from "../components/HvadKanDuGoere.astro";
import PlasticChange from "../components/PlasticChange.astro";
import Plastikforurening from "../components/Plastikforurening.astro";
import Problemet from "../components/Problemet.astro";
import StoetMerchandise from "../components/StoetMerchandise.astro";
---

<MainLayout title="Single Use Sucks">
    <div class="">
        <Hero />
    </div>

    <div class="max-w-6xl mx-auto p-6">
        <Plastikforurening />
    </div>

    <div class="">
        <Problemet />
    </div>

    <div class="">
        <HvadKanDuGoere />
    </div>

    <div class="">
        <PlasticChange />
    </div>

    <div class="">
        <StoetMerchandise />
    </div>
</MainLayout>
