---
import Button from "../components/Button.astro";
---

<section class="bg-[#007C79]">
  <!--------------------------- Mobil --------------------------->
  <section class="max-w-6xl mx-auto p-6 md:hidden block">
    <img class="pb-6" src="/logo.svg" alt="Plastic Change logo" />
    <div class="flex pb-12">
      <a class="pr-2" href="https://www.facebook.com/plasticchange/"><img src="/f.svg" alt="" /></a>
      <a class="px-2" href="https://x.com/plasticchange"><img src="/x.svg" alt="" /></a>
      <a class="px-2" href="https://www.linkedin.com/company/plastic-change"><img src="/in.svg" alt="" /></a>
      <a class="px-2" href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"><img src="/yt.svg" alt="" /></a>
      <a class="pl-2" href="https://www.instagram.com/plasticchange"><img src="/ig.svg" alt="" /></a>
    </div>
    <div class="pb-12">
      <h2 class="pb-6 text-[#FAFAFA]">Nyhedsbrev</h2>
      <p class="pb-6 text-[#FAFAFA] max-w-sm">Bliv en del af kampen mod plastikforurening. Tilmeld dig vores nyhedsbrev og få opdateringer om vores initiativer og hvordan du kan bidrage.</p>
      <form>
        <input type="email" class="rounded-full my-2 px-6 p-2 bg-[#007C79] border-2 border-[#0A5755] placeholder-[#FAFAFA]" placeholder="E-mail adresse" />
        <Button class="my-2" variant="primary" size="small">Send</Button>
      </form>
    </div>
    <div>
      <p class="text-[#FAFAFA]">Mail. info@plasticchange.org</p>
      <p class="pb-6 text-[#FAFAFA]">Tlf. +45 42 66 72 46</p>

      <p class="text-[#FAFAFA]">Telefontid. Mandag – Fredag,</p>
      <p class="pb-6 text-[#FAFAFA]">10:00 – 15:00</p>

      <p class="text-xs text-[#FAFAFA]">Website af Hui jin, Sara & Helena</p>
      <p class="text-xs text-[#FAFAFA]">© 2024 Plastic Change</p>
    </div>
  </section>

  <!--------------------------- Desktop --------------------------->
  <section class="max-w-6xl mx-auto p-6 hidden md:block">
    <div class="flex justify-between">
      <div class="">
        <img class="pb-6" src="/logo.svg" alt="Plastic Change logo" />
        <div>
          <p class="text-[#FAFAFA]">Mail. info@plasticchange.org</p>
          <p class="pb-6 text-[#FAFAFA]">Tlf. +45 42 66 72 46</p>

          <p class="text-[#FAFAFA]">Telefontid. Mandag – Fredag,</p>
          <p class="pb-6 text-[#FAFAFA]">10:00 – 15:00</p>

          <p class="text-xs text-[#FAFAFA]">Website af Hui jin, Sara & Helena</p>
          <p class="text-xs text-[#FAFAFA]">© 2024 Plastic Change</p>
        </div>
      </div>
      <div class="">
        <h2 class="pb-6 text-[#FAFAFA]">Nyhedsbrev</h2>
        <p class="pb-6 text-[#FAFAFA] max-w-sm">Bliv en del af kampen mod plastikforurening. Tilmeld dig vores nyhedsbrev og få opdateringer om vores initiativer og hvordan du kan bidrage.</p>
        <form>
          <input type="email" class="rounded-full my-2 px-6 p-2 bg-[#007C79] border-2 border-[#0A5755] placeholder-[#FAFAFA]" placeholder="E-mail adresse" />
          <Button class="my-2" variant="primary" size="small">Send</Button>
        </form>
      </div>
      <div class="flex">
        <a class="pr-2" href="https://www.facebook.com/plasticchange/"><img src="/f.svg" alt="" /></a>
        <a class="px-2" href="https://x.com/plasticchange"><img src="/x.svg" alt="" /></a>
        <a class="px-2" href="https://www.linkedin.com/company/plastic-change"><img src="/in.svg" alt="" /></a>
        <a class="px-2" href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"><img src="/yt.svg" alt="" /></a>
        <a class="pl-2" href="https://www.instagram.com/plasticchange"><img src="/ig.svg" alt="" /></a>
      </div>
    </div>
  </section>
</section>
