---
import Button from "../components/Button.astro";
---

<section class="bg-[#007C79] z-[99]">
  <!--------------------------- Mobil --------------------------->
  <section class="max-w-6xl mx-auto p-6 md:hidden block">
    <div class="pb-6">
      <div class="bg-[#FF1054] w-40 p-4">
        <a href="/#"><p class="text-[16px] sm:text-[12px] lg:text-[14px] text-center whitespace-nowrap text-[#FAFAFA] font-bold">Plastic Change</p></a
        >
      </div>
    </div>
    <div class="flex pb-12">
      <a class="pr-2" href="https://www.facebook.com/plasticchange/" target="_blank"><img src="/f.svg" alt="" /></a>
      <a class="px-2" href="https://x.com/plasticchange" target="_blank"><img src="/x.svg" alt="" /></a>
      <a class="px-2" href="https://www.linkedin.com/company/plastic-change" target="_blank"><img src="/in.svg" alt="" /></a>
      <a class="px-2" href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g" target="_blank"><img src="/yt.svg" alt="" /></a>
      <a class="pl-2" href="https://www.instagram.com/plasticchange" target="_blank"><img src="/ig.svg" alt="" /></a>
    </div>
    <div class="pb-12">
      <h1 class="pb-6 text-[#FAFAFA] text-3xl md:text-4xl">Nyhedsbrev</h1>
      <p class="pb-6 text-[#FAFAFA] max-w-sm">
        Bliv en del af kampen mod plastikforurening. Tilmeld dig vores nyhedsbrev og få opdateringer om vores initiativer og hvordan du kan bidrage.
      </p>
      <!-- <form>
        <input type="email" class="rounded-full my-2 px-6 p-2 bg-[#007C79] border-2 border-[#0A5755] placeholder-[#FAFAFA]" placeholder="E-mail adresse" />
        <Button class="my-2" variant="primary" size="small">Send</Button>
      </form> -->
      <form action="#">
        <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
          <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-[#FAFAFA]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                ><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg
              >
            </div>
            <input
              class="block p-3 pl-10 pr-3 w-full text-sm text-[#FAFAFA] bg-transparent rounded-full border-2 border-[#0A5755] placeholder-[#FAFAFA]"
              placeholder="Email adresse"
              type="email"
              id="email"
              required=""
            />
            <div class="absolute inset-y-0 right-0 flex items-center justify-end">
              <button
                type="submit"
                class="py-3 px-5 text-sm font-extrabold text-center bg-[#FF1054] hover:bg-[#B4003C] text-[#FAFAFA] rounded-full cursor-pointer border-2 border-[#FF1054] hover:border-[#B4003C] -ml-px"
                >SEND</button
              >
            </div>
          </div>
        </div>
      </form>
    </div>
    <div>
      <p class="text-[#FAFAFA]">Mail. info@plasticchange.org</p>
      <p class="pb-6 text-[#FAFAFA]">Tlf. +45 42 66 72 46</p>

      <p class="text-[#FAFAFA]">Telefontid. Mandag – Fredag,</p>
      <p class="pb-6 text-[#FAFAFA]">10:00 – 15:00</p>

      <p class="text-xs text-[#FAFAFA]">Website af Hui jin, Sara & Helena</p>
      <p class="text-xs text-[#FAFAFA]">© 2024 Plastic Change</p>
    </div>
  </section>

  <!--------------------------- Desktop --------------------------->
  <section class="max-w-6xl mx-auto p-6 hidden md:block">
    <div class="flex justify-between">
      <div class="">
        <div class="pb-6">
          <div class="bg-[#FF1054] w-40 p-4">
            <a href="/#"
              ><p class="text-[8px]sm:text-[12px] lg:text-[16px] text-center whitespace-nowrap text-[#FAFAFA] font-bold">Plastic Change</p></a
            >
          </div>
        </div>
        <div>
          <p class="text-[#FAFAFA]">Mail. info@plasticchange.org</p>
          <p class="pb-6 text-[#FAFAFA]">Tlf. +45 42 66 72 46</p>

          <p class="text-[#FAFAFA]">Telefontid. Mandag – Fredag,</p>
          <p class="pb-6 text-[#FAFAFA]">10:00 – 15:00</p>

          <p class="text-xs text-[#FAFAFA]">Website af Hui jin, Sara & Helena</p>
          <p class="text-xs text-[#FAFAFA]">© 2024 Plastic Change</p>
        </div>
      </div>
      <div class="">
        <h1 class="pb-6 text-[#FAFAFA] text-5xl">Nyhedsbrev</h1>
        <p class="pb-6 text-[#FAFAFA] max-w-sm">
          Bliv en del af kampen mod plastikforurening. Tilmeld dig vores nyhedsbrev og få opdateringer om vores initiativer og hvordan du kan bidrage.
        </p>
        <!-- <form>
          <input type="email" class="rounded-full my-2 px-6 p-2 bg-[#007C79] border-2 border-[#0A5755] placeholder-[#FAFAFA]" placeholder="E-mail adresse" />
          <Button class="my-2" variant="primary" size="small">Send</Button>
        </form> -->
        <form action="#">
          <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
            <div class="relative w-full">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-[#FAFAFA]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                  ><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg
                >
              </div>
              <input
                class="block p-3 pl-10 pr-3 w-full text-sm text-[#FAFAFA] bg-transparent rounded-full border-2 border-[#0A5755] placeholder-[#FAFAFA]"
                placeholder="Email adresse"
                type="email"
                id="email"
                required=""
              />
              <div class="absolute inset-y-0 right-0 flex items-center justify-end">
                <button
                  type="submit"
                  class="py-3 px-5 text-sm font-extrabold text-center bg-[#FF1054] hover:bg-[#B4003C] text-[#FAFAFA] rounded-full cursor-pointer border-2 border-[#FF1054] hover:border-[#B4003C] -ml-px"
                  >SEND</button
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="flex items-start justify-center space-x-4 no-cursor-change">
        <a class="w-15 flex-shrink-0 group" href="https://www.facebook.com/plasticchange/" target="_blank">
          <img class="w-full block group-hover:hidden" src="/f.svg" alt="" />
          <img class="w-full hidden group-hover:block" src="/f-pink.svg" alt="" />
        </a>
        <a class="w-15 flex-shrink-0 group" href="https://x.com/plasticchange" target="_blank">
          <img class="w-full block group-hover:hidden" src="/x.svg" alt="" />
          <img class="w-full hidden group-hover:block" src="/x-pink.svg" alt="" />
        </a>
        <a class="w-15 flex-shrink-0 group" href="https://www.linkedin.com/company/plastic-change" target="_blank">
          <img class="w-full block group-hover:hidden" src="/in.svg" alt="" />
          <img class="w-full hidden group-hover:block" src="/in-pink.svg" alt="" />
        </a>
        <a class="w-15 flex-shrink-0 group" href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g" target="_blank">
          <img class="w-full block group-hover:hidden" src="/yt.svg" alt="" />
          <img class="w-full hidden group-hover:block" src="/yt-pink.svg" alt="" />
        </a>
        <a class="w-15 flex-shrink-0 group" href="https://www.instagram.com/plasticchange" target="_blank">
          <img class="w-full block group-hover:hidden" src="/ig.svg" alt="" />
          <img class="w-full hidden group-hover:block" src="/ig-pink.svg" alt="" />
        </a>
      </div>
    </div>
  </section>
</section>
