---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
---

<div x-data="{ showmenu: false }" class="p-4 z-10 w-full bg-gray-100 relative">
  <!-- brug "fixed" for at have den på siden hele vejen ned -->

  <div id="navbar" class="flex flex-row mx-auto items-center max-w-full px-4">
    <div class="w-32">
      <img src="/logo.svg" alt="Plastic Change logo" />
    </div>
    <div class="flex justify-between items-center mx-auto w-full">
      <nav id="desktopmenu" class="hidden font-lato lg:flex justify-between items-center mx-auto">
        <div class="flex flex-row gap-6">
          <Link href="#plastikforurening" variant="textlink" size="standard">Om Plastikforurening</Link>
          <Link href="#problemet" variant="textlink" size="standard">Plastikproblemet</Link>
          <Link href="#hvadkandu" variant="textlink" size="standard">Hvad Kan Du Gøre?</Link>
          <Link href="#voresindsats" variant="textlink" size="standard">Vores Indsats</Link>
          <Link href="#shop" variant="textlink" size="standard">Shop</Link>
        </div>
      </nav>
    </div>
    <div class="hidden lg:block"><Button variant="primary" size="small">Støt</Button></div>
    <div>
      <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6" x-show="!showmenu" x-transition>
          <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6" x-show="showmenu" x-transition>
          <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>

  <nav id="mobilmenu" class="flex flex-col content-center p-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="flex flex-col items-center mx-auto justify-between py-10 gap-10">
      <Link href="#plastikforurening" variant="textlink" size="standard">Om Plastikforurening</Link>
      <Link href="#problemet" variant=" textlink" size="standard">Plastikproblemet</Link>
      <Link href="#hvadkandu" variant="textlink" size="standard">Hvad Kan Du Gøre?</Link>
      <Link href="#voresindsats" variant="textlink" size="standard">Vores Indsats</Link>
      <Link href="#shop" variant="textlink" size="standard">Shop</Link>
      <div class="block"><Button>Støt</Button></div>
    </ul>
  </nav>
</div>
