---

---

<section class="relative">
    <img class="h-screen w-full object-cover" src="/hero.webp" alt="test" />
    <div class="max-w-6xl mx-auto p-6 cusor absolute inset-0 flex md:items-center items-start">
        <section class="z-50" x-data>
            <h1 class="text-white">Single Use</h1>
            <h1 class="text-white pb-6">Sucks</h1>
            <h3 class="text-white">Vores verden kan ikke holde til mere</h3>
            <h3 class="text-white">unødvendig plastik</h3>
        </section>
    </div>
    <img src="/skildpade-ps.png" alt="trash" class="opacity-95 absolute md:bottom-[30%] bottom-[20%] md:right-[5%] md:w-[600px] animate-[float_5s_linear_infinite] z-40" />
    <div>
        <img src="/bottle2.webp" alt="trash" class="opacity-50 absolute md:bottom-[10%] bottom-[0%] md:left-[2%] left-[%] md:w-80 w-52 animate-[float_5s_linear_infinite] z-30" />
        <img src="/fork.webp" alt="trash" class="opacity-50 absolute md:bottom-[30%] bottom-[10%] md:right-[30%] right-[20%] md:w-72 w-44 animate-[float_6s_linear_infinite] z-10" />
        <img src="/glove.png" alt="trash" class="opacity-50 absolute md:bottom-[65%] bottom-[65%] md:right-[50%] right-[50%] md:w-60 w-40 animate-[float_5s_linear_infinite] z-30" />
        <img src="/pose3.png" alt="trash" class="opacity-50 absolute md:bottom-[55%] md:left-[10%] md:w-80 animate-[float_6s_linear_infinite] z-10" />
        <img src="/pose.png" alt="trash" class="opacity-50 absolute md:bottom-[48%] md:left-[42%] md:w-96 animate-[float_5s_linear_infinite] z-30" />
        <img src="/pose2.png" alt="trash" class="opacity-50 absolute md:bottom-[65%] md:right-[10%] md:w-72 animate-[float_6s_linear_infinite] z-10" />
        <img src="/bag.png" alt="trash" class="opacity-50 absolute md:bottom-[0%] md:right-[10%] md:w-64 animate-[float_5s_linear_infinite] z-30" />
        <img src="/suge.png" alt="trash" class="opacity-50 absolute md:bottom-[10%] md:left-[30%] md:w-80 animate-[float_6s_linear_infinite] z-10" />
    </div>
</section>
