---

---

<section class="relative">
    <img class="h-screen w-full object-cover" src="/hero.webp" alt="havets bund, med en haj svømmende" />
    <div class="max-w-6xl mx-auto p-6 cusor absolute inset-0 flex md:items-center items-start">
        <section class="z-50 md:pt-0 pt-16" x-data>
            <h1 class="text-[#FAFAFA]">Single Use</h1>
            <h1 class="text-[#FAFAFA] pb-6">Sucks</h1>
            <h3 class="text-[#FAFAFA]">Vores verden kan ikke holde til mere</h3>
            <h3 class="text-[#FAFAFA]">unødvendig plastik</h3>
        </section>
    </div>
    <div class="opacity-95 absolute md:bottom-[30%] bottom-[25%] md:right-[5%] md:w-[600px] z-40 animate-[float_5s_linear_infinite]">
        <img src="/skildpade-ps.png" alt="trash" class="hover:scale-110 duration-700" />
    </div>

    <div>
        <div class="opacity-50 absolute md:bottom-[10%] bottom-[0%] md:left-[2%] left-[%] md:w-80 w-52 animate-[float_5s_linear_infinite] z-30">
            <img src="/bottle2.webp" alt="plastikflaske" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[30%] bottom-[15%] md:right-[30%] right-[35%] md:w-72 w-44 animate-[float_6s_linear_infinite] z-10">
            <img src="/fork.webp" alt="plastik gafel" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[65%] bottom-[10%] md:right-[50%] right-[60%] md:w-60 w-40 animate-[float_5s_linear_infinite] z-30">
            <img src="/glove.webp" alt="plastik hanske" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[55%] bottom-[65%] md:left-[10%] left-[0%] md:w-80 w-60 animate-[float_6s_linear_infinite] z-10">
            <img src="/pose3.webp" alt="plastikpose" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[48%] bottom-[40%] md:left-[42%] left-[10%] md:w-96 w-80 animate-[float_5s_linear_infinite] z-30">
            <img src="/pose.webp" alt="plastikpose" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[65%] bottom-[75%] md:right-[10%] right-[10%] md:w-72 w-60 animate-[float_6s_linear_infinite] z-10">
            <img src="/pose2.webp" alt="plastikpose" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[0%] bottom-[0%] md:right-[10%] right-[0%] md:w-64 w-48 animate-[float_5s_linear_infinite] z-30">
            <img src="/bag.webp" alt="plastikpose" class="hover:scale-110 duration-700" />
        </div>
        <div class="opacity-50 absolute md:bottom-[10%] bottom-[40%] md:left-[30%] left-[0%] md:w-80 w-52 animate-[float_6s_linear_infinite] z-10">
            <img src="/suge.webp" alt="plastik sugerør" class="hover:scale-110 duration-700" />
        </div>
    </div>
</section>
