---

---

<section class="">
    <img class="h-screen w-full object-cover" src="/hero.webp" alt="test" />
    <div class="max-w-6xl mx-auto p-6 cusor absolute inset-0 flex items-center">
        <section class="z-50" x-data>
            <h1 class="text-white">Single Use</h1>
            <h1 class="text-white pb-6">Sucks</h1>
            <h3 class="text-white">Vores verden kan ikke holde til mere</h3>
            <h3 class="text-white">unødvendig plastik</h3>
        </section>
    </div>
    <img src="/bottle2.webp" alt="trash" class="opacity-50 absolute bottom-[10%] left-[2%] w-96 animate-[float_5s_linear_infinite] z-50 hidden md:block" />
    <img src="/fork.webp" alt="trash" class="opacity-50 absolute bottom-[15%] right-[30%] w-72 animate-[float_6s_linear_infinite] z-30 hidden md:block" />
    <img src="/glove.png" alt="trash" class="opacity-50 absolute bottom-[2%] right-[2%] w-96 animate-[float_5s_linear_infinite] z-50 hidden md:block" />
    <img src="/pose3.png" alt="trash" class="opacity-50 absolute bottom-[60%] left-[50%] w-80 animate-[float_6s_linear_infinite] z-30 hidden md:block" />
    <img src="/pose.png" alt="trash" class="opacity-50 absolute bottom-[60%] left-[20%] w-96 animate-[float_5s_linear_infinite] z-50 hidden md:block" />
    <img src="/pose2.png" alt="trash" class="opacity-50 absolute bottom-[45%] right-[60%] w-72 animate-[float_6s_linear_infinite] z-30 hidden md:block" />
    <img src="/bag.png" alt="trash" class="opacity-50 absolute bottom-[20%] right-[30%] w-96 animate-[float_5s_linear_infinite] z-50 hidden md:block" />
    <img src="/suge.png" alt="trash" class="opacity-50 absolute bottom-[75%] left-[75%] w-80 animate-[float_6s_linear_infinite] z-30 hidden md:block" />
</section>
