---

---

<section class="">
    <img class="h-screen w-full object-cover" src="/hero.webp" alt="test" />
    <div class="max-w-6xl mx-auto p-6 cusor absolute inset-0 flex items-center">
        <section class="" x-data>
            <h1 class="text-white">Single Use</h1>
            <h1 class="text-white">Sucks</h1>
        </section>
    </div>
</section>
