---
import tuttle from "../assets/images/tuttle.webp";
import Button from "../components/Button.astro";
---

<section class="w-full object-cover overflow-hidden bg-cover mt-6" style={`background-image: url(${tuttle.src});`}>
  <div class="pt-10 w-full md:max-w-6xl mx-auto">
    <div class="px-6">
      <h1 class="font-bold text-[#FAFAFA] pt-10 pb-10 md:py-20">Hvad kan du gøre?</h1>
      <div class="border-[#0C1A1B] bg-[#0C1A1B]/80 p-6 fadeInLeft md:p-10 rounded-2xl shadow-md max-w-[520px]">
        <h2 class="text-[#FAFAFA] pb-4 text-2xl md:text-4xl">Bliv medlem af Plastic Change</h2>
        <p class="text-[#FAFAFA]">
          Sammen kan vi stoppe plasticforurening. Din støtte er afgørende! Kun sammen kan vi presse politikere og virksomheder til at tage ansvar for plastikforureningen og sætte en stopper for overproduktion. <br /><br /> Samtidig kan vi uddanne fremtidens forbrugere til at vælge mere bæredygtigt. Ved at blive medlem af den globale Plastic Change-bevægelse, siger du tydeligt “ Stop plasticforurening nu! ” <br /><br /> Hjælp os med at gøre en forskel – for planetens og fremtidens skyld.
        </p>
        <div class="pt-6 flex justify-center items-center"><a href="/formular"><Button variant="primary" size="small">Støt</Button></a></div>
      </div>
    </div>
  </div>
  <!----------------------- Slider med #SingleUseSucks -------------------------------->
  <div class="py-12 w-full mx-auto text-center">
    <section class="relative whitespace-nowrap overflow-hidden text-[#011E2E] text-7xl md:text-9xl font-black font-kanit">
      <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6">
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
      </div>
      <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
      </div>
    </section>
  </div>
  <div class="w-full md:max-w-6xl md:mx-auto md:flex md:justify-end md:pb-20">
    <div class="px-6">
      <div class="border-[#0C1A1B] bg-[#0C1A1B]/80 fadeInRight p-6 md:p-10 rounded-2xl shadow-md max-w-[520px]">
        <h2 class="text-[#FAFAFA] pb-4 text-2xl md:text-4xl">Ekspertviden og sparring om cirkulær plastøkonomi</h2>
        <p class="text-[#FAFAFA]">
          Vi tilbyder ekspertviden om den cirkulære plastøkonomi på tværs af hele værdikæden. Vores rådgivning dækker alle led i processen og bygger på globalt anerkendt best practice. <br /><br />Vi inspirerer med eksempler fra hele verden og på tværs af mange sektorer, der demonstrerer, hvordan cirkulære løsninger kan skabe værdi og reducere plastikforurening. Uanset om det handler om produktdesign, materialevalg eller genanvendelse, står vi klar til at hjælpe med konkrete løsninger og viden.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full pt-16 md:max-w-6xl md:mx-auto md:flex">
    <div class="px-6">
      <div class="border-[#0C1A1B] bg-[#0C1A1B]/80 p-6 fadeInLeft md:p-10 rounded-2xl shadow-md max-w-[520px]">
        <h2 class="text-[#FAFAFA] pb-4 text-3xl md:text-4xl">Brug mindre plastik <br />Reuse, Recycle!</h2>
        <p class="text-[#FAFAFA] pb-4">Vælg genanvendelige produkter, undgå engangsplast, og genbrug, hvor du kan. Små valg skaber store forandringer!</p>
        <div class="w-full aspect-w-16 aspect-h-9">
          <iframe src="https://www.youtube.com/embed/eEH-RLluHCU?si=hW_ADfvVMe29PyhS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!------------------- Slider med #SingleUseSucks -------------------------------->
  <div class="py-12 w-full mx-auto text-center">
    <section class="relative whitespace-nowrap overflow-hidden text-[#011E2E] text-7xl md:text-9xl font-black font-kanit">
      <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6">
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
      </div>
      <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
      </div>
    </section>
  </div>
  <div class="w-full md:max-w-6xl md:mx-auto md:flex md:justify-end md:pb-40 pb-16">
    <div class="px-6">
      <div class="border-[#0C1A1B] bg-[#0C1A1B]/80 p-6 fadeInRight md:p-10 rounded-2xl shadow-md max-w-[520px]">
        <h2 class="text-[#FAFAFA] pb-4 text-2xl md:text-4xl">Derfor skal plastik genanvendes</h2>
        <p class="text-[#FAFAFA] pb-4">Genanvendelse af plastik reducerer affald, sparer ressourcer og mindsker forurening. Det hjælper med at beskytte miljøet og skabe en mere bæredygtig fremtid.</p>
        <div class="w-full aspect-w-16 aspect-h-9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lsnm6SYb6zs?si=F0NLVVgY2gInevdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Progress-bar placeret i toppen af sitet -->
<div class="progress-container fixed w-full overflow-x-hidden top-0 left-0 z-50">
  <div class="progress-bar h-4 bg-[#FF1054] origin-top-left"></div>
</div>

<script>
  import { inView, animate, scroll } from "motion";
  /*Progress-baren/læseindikatoren */
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));
</script>

<style>
  .progress-container {
    width: 100vw;
    overflow-x: hidden;
  }

  .progress-bar {
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform-origin: left;
  }
</style>

<script>
  import { inView, animate, scroll } from "motion";
  const fadeInLeft = document.querySelectorAll(".fadeInLeft");
  inView(fadeInLeft, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInLeft");
  });
  const fadeInRight = document.querySelectorAll(".fadeInRight");
  inView(fadeInRight, ({ target }) => {
    target.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>
