---

---

<section class="[#FAFAFA]">
  <section class="py-20">
    <section class="md:grid grid-cols-2 gap-20 max-w-6xl mx-auto p-6">
      <div class="md:flex flex-col items-center justify-center pb-10">
        <h2 class="text-[#007C79] pb-6">Vi kæmper for et affaldsfrit samfund, hvor plastik bruges igen og igen</h2>
        <p class="">
          Plastikforurening er et stigende globalt problem. I 2017 blev der produceret 322 millioner tons plastik globalt, og produktionen forventes at firedobles inden 2050. Plastikaffaldet i havene forventes at fordobles inden 2030. Knap 40% af plastikken er fødevareemballage, hvoraf en stor del er engangsplastik. Dette plastik ender ofte som
          affald på lossepladser eller som forurening i havene. Plastic Change arbejder for at forhindre dette.
        </p>
      </div>
      <div>
        <img src="/infografik.svg" alt="infografik over stigning af plastik" />
      </div>
    </section>
  </section>

  <!----------------------- Slider med #SingleUseSucks -------------------------------->
  <div class="w-full mx-auto text-center overflow-hidden">
    <section class="relative whitespace-nowrap text-[#CACDD5] text-7xl md:text-9xl font-black font-kanit">
      <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6">
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
      </div>
      <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
        <span>#SINGLEUSESUCKS</span>
      </div>
    </section>
  </div>
</section>
