---

---

<div class="image-comparison w-screen md:h-screen overflow-hidden" id="image-comparison">
    <div class="images-container relative flex">
        <img class="before-image absolute top-0 h-full object-cover object-left" src="/before.webp" alt="hav med plastik" id="before-image" />
        <img class="after-image h-full object-cover object-left" src="/after.webp" alt="hav med vandmand" />

        <div class="slider-line absolute h-full w-2 bg-[#FAFAFA] left-1/2 transform -translate-x-1/2" id="slider-line"></div>

        <input type="range" class="slider absolute inset-0 opacity-0 cursor-pointer" min="0" max="100" id="slider" />
    </div>
</div>

<script>
    const imageComparison = document.getElementById("image-comparison");
    const beforeImage = document.getElementById("before-image");
    const sliderLine = document.getElementById("slider-line");
    const slider = document.getElementById("slider");

    let isDragging = false;

    // Set initial width of before-image to 50%
    beforeImage.style.width = "50%";

    imageComparison.addEventListener("touchstart", () => {
        isDragging = true;
    });

    imageComparison.addEventListener("touchend", () => {
        isDragging = false;
    });

    imageComparison.addEventListener("touchmove", (event) => {
        if (isDragging) {
            const rect = imageComparison.getBoundingClientRect();
            const x = event.touches[0].clientX - rect.left;
            const width = rect.width;
            const percentage = (x / width) * 100;

            sliderLine.style.left = `${percentage}%`;
            slider.value = percentage;
            beforeImage.style.width = `${percentage}%`;
        }
    });

    imageComparison.addEventListener("mousemove", (event) => {
        const rect = imageComparison.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const width = rect.width;
        const percentage = (x / width) * 100;

        sliderLine.style.left = `${percentage}%`;
        slider.value = percentage;
        beforeImage.style.width = `${percentage}%`;
    });
</script>
