---

---

<section class="py-20">
    <section class="md:grid grid-cols-2 gap-20">
        <div class="md:flex flex-col items-center justify-center">
            <h2 class="text-green-900 pb-6">Vi kæmper for et affaldsfrit samfund, hvor plastik bruges igen og igen</h2>
            <p class="">
                Plastikforurening er et stigende globalt problem. I 2017 blev der produceret 322 millioner tons plastik globalt, og produktionen forventes at firedobles inden 2050. Plastikaffaldet i havene forventes at fordobles inden 2030. Knap 40% af plastikken er fødevareemballage, hvoraf en stor del er engangsplastik. Dette plastik ender ofte
                som affald på lossepladser eller som forurening i havene. Plastic Change arbejder for at forhindre dette.
            </p>
        </div>
        <div>
            <img src="/infografik.svg" alt="" />
        </div>
    </section>

    <!-------------------------------- Slider med #SingleUseSucks -------------------------------->
    <section class="whitespace-nowrap overflow-x-hidden text-gray-200 md:text-9xl text-7xl uppercase font-black font-kanit">
        <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6">
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
        </div>
        <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
            <span>#SingleUseSucks</span>
        </div>
    </section>
</section>
