---
import PlasticChangeSlider from "../components/PlasticChangeSlider.astro";
---

<PlasticChangeSlider />

<section class="bg-[#FAFAFA]">
  <section class="py-20 max-w-6xl mx-auto p-6">
    <div class="md:grid grid-cols-2 gap-20 pb-20" id="Left">
      <div>
        <h2 class="pb-6 text-[#007C79]">Hvordan reducerer Plastic Change plastikforbrug?</h2>
        <p class="pb-6">Vi er nødt til at fokusere på at knække kurven for det stigende plastikforbrug og -forurening ved at reducere mængden af plastik i omløb og fremme genbrugsløsninger i stedet for en ”brug-og-smid-væk”-kultur.</p>
      </div>
      <div>
        <p class="pb-6">Hos Plastic Change arbejder vi for at standse udpining af de ressourcer, som Jorden naturligt har til rådighed. Vi skal derfor gentænke nuværende produktionssystemer med fokus på mere genbrug, så vi kan knække den stigende plastikproduktion, der forventes fordoblet om mindre end tyve år.</p>
        <p class="pb-6">Målet om at udfase engangsplastik og skabe bedre genbrugsløsninger er en del af alt, hvad vi laver. Både i vores politiske arbejde, i samarbejde med vores innovationspartnere og med civilbefolkningen. Og alt andet vi laver, som indebærer undervisning, foredrag, events, forskning, og internationalt arbejde.</p>
        <a href="https://plasticchange.dk/" target="_blank">Læs mere om Plastic Change's indsats</a>
      </div>
    </div>
    <div class="md:grid grid-cols-2 gap-20" id="fadeInRight">
      <div>
        <img class="pb-6" src="engagement.webp" alt="plastikflaske fundet på stranden" />
      </div>
      <div class="md:flex flex-col items-center justify-center">
        <h2 class="pb-6 text-[#007C79]">Deres inspiration og engagement</h2>
        <p>
          Gennem vores Plastic Changer univers søger vi at inspirere, engagere og motivere civilbefolkningen gennem vores egen adfærd, og ved at fremhæve hvad andre gør. For de mange små skridt, vi i fællesskab kan tage mod en mere bæredygtig fremtid, kan danne grobund og vise retningen for andre, der på samme vis ønsker at følge et grønnere spor.
        </p>
      </div>
    </div>
  </section>
</section>

<script>
  import { inView } from "motion";

  /* inView Animations */
  const elementmedanimation1 = document.querySelector("#Left");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector("#fadeInRight");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>
