---
import Slider from "./Slider.astro";
---

<section>
  <!-- Section 1 -->
  <div
    id="stock"
    class="flex items-center h-screen w-full bg-cover bg-center sticky top-0"
    style="background-image: url('/skies.webp'); animate-[float_5s_linear_infinite]"
  >
    <div class="top-element z-50 text-left max-w-5xl mx-auto">
      <h1 class="text-[#FAFAFA] px-6 pt-16">Problemet med <span>plastikforurening</span></h1>
      <div class="data-columns flex flex-col max-w-5xl mx-auto py-20 z-10">
        <div id="column1" class="p-4 flex flex-col justify-center items-start py-20 z-50 relative">
          <img src="/column1.svg" alt="column1" class="w-3/4 md:w-2/3" />
          <h3 class="text-right pt-4 text-[#FAFAFA]">Af plastikken flyder i overfladen</h3>
        </div>
      </div>
      <div class="absolute bottom-[10%] md:left-[60%] left-[22%] md:w-80 w-72 animate-[float_5s_linear_infinite] md:z-50">
        <img src="/pot.webp" alt="trash" class="hover:scale-110 duration-700" />
      </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div
    class="flex justify-center items-center h-screen w-full bg-cover bg-center sticky top-0 overflow-hidden"
    style="background-image: url('/underwater.webp');"
  >
    <div class="data-columns flex flex-col max-w-5xl mx-auto py-20 z-10">
      <div id="column2" class="p-4 flex flex-col justify-center items-end py-20 z-50 relative">
        <img src="/column2.svg" alt="column2" class="w-2/3 md:w-3/4" />
        <h3 class="text-right pt-4 text-[#FAFAFA]">Ligger længere nede i vandsøjlen</h3>
      </div>
    </div>

    <!-- Trash -->
    <div class="opacity-50 absolute bottom-[48%] left-[2%] md:w-96 w-60 animate-[float_5s_linear_infinite] md:z-50">
      <img src="/bottle2.webp" alt="trash" class="hover:scale-110 duration-700" />
    </div>
    <div class="opacity-50 absolute bottom-[15%] right-[50%] md:w-72 w-60 animate-[float_6s_linear_infinite] z-30">
      <img src="/fork.webp" alt="trash" class="hover:scale-110 duration-700" />
    </div>
    <div class="opacity-50 absolute bottom-[2%] right-[2%] md:w-96 w-60 animate-[float_5s_linear_infinite] z-50">
      <img src="/glove.webp" alt="trash" class="hover:scale-110 duration-700" />
    </div>
    <div class="opacity-50 absolute bottom-[60%] left-[30%] md:w-80 w-60 animate-[float_6s_linear_infinite] z-30">
      <img src="/cup.webp" alt="trash" class="hover:scale-110 duration-700" />
    </div>
  </div>
</section>
<div>
  <Slider />
</div>

<style>
  /* Misc. styles */
  h1,
  h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 520px) {
    h1 span {
      word-break: break-word;
      hyphens: auto;
    }
  }
</style>

<script>
  import { inView } from "motion";

  /* Parallax Animation */
  window.addEventListener("scroll", () => {
    const scrolled = window.scrollY;

    document.querySelectorAll(".wave-layer").forEach((wave, index) => {
      const speed = (index + 1) * 1.2;
      wave.style.backgroundPositionY = `${scrolled * speed}px`;
    });
  });

  /* inView Animations */
  const elementmedanimation1 = document.querySelector("#column1");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector("#column2");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>
