---
import Button from "./Button.astro";
---

<section>
  <div
    id="stock"
    class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0 stickyparallax1"
    style="background-image: url('/underwater.jpg')"
  >
    <div class="w-full md:max-w-6xl md:mx-auto md:flex md:justify-start md:pb-20 px-6">
      <div id="box1" class="text-box lg:mr-64 border-[#0C1A1B] bg-[#0C1A1B]/80 p-8 md:p-10 rounded-2xl shadow-md max-w-[520px] h-full">
        <div>
          <h3 class="text-[#FAFAFA] pb-8">Hjælp os med at beskytte havets liv mod plastikforurening</h3>
          <p class="text-[#FAFAFA]">
            Dit bidrag kan gøre en forskel. Ved at støtte vores arbejde kan du hjælpe med at beskytte truede havdyr og vores planet mod den
            ødelæggende effekt af plastikforurening. Sammen kan vi skabe en renere fremtid for alle. Støt os nu!
          </p>
          <div class="pt-6"><a href="/formular"><Button variant="primary" size="small">Støt</Button></a></div>
        </div>
      </div>

      <!-- Trash -->
      <div class="opacity-50 absolute md:bottom-[20%] bottom-[-6%] md:left-[62%] left-[30%] md:w-96 w-40 animate-[float_5s_linear_infinite] z-50">
        <img src="/bag.png" alt="trash" class="hover:scale-110 duration-700" />
      </div>
    </div>
  </div>
  <div
    class="flex justify-center items-center h-screen w-100 bg-cover bg-center sticky top-0 stickyparallax3"
    style="background-image: url('/turtle.jpg')"
  >
    <div class="w-full md:max-w-6xl md:mx-auto md:flex md:justify-end md:pb-20 px-6">
      <div id="box2" class="text-box lg:ml-64 border-[#0C1A1B] bg-[#0C1A1B]/80 p-8 md:p-10 rounded-2xl shadow-md max-w-[520px] h-full">
        <div>
          <h3 class="text-[#FAFAFA] pb-8">Støt kampen mod plastikforurening – én kop ad gangen</h3>
          <p class="text-[#FAFAFA]">
            Gør en forskel i kampen mod unødvendig plastikforurening. Med vores miljøvenlige produkter kan du vise din støtte til en verden fri for
            engangsplastik. Gør små valg til store forandringer – fordi <span class="text-[#FF1054]">#singleusesucks</span>!
            <br /><br />
            Køb vores merchandise nu og hjælp os videre mod en fremtid fri for engangsplast!
          </p>
          <div class="pt-6">
            <a href="https://www.hjemhavn.dk/collections/plastic-change-merchandise"><Button variant="secondary" size="small">Køb</Button></a>
          </div>
        </div>
      </div>
      <div
        class="md:opacity-80 absolute md:bottom-[63%] bottom-[5%] md:left-[22%] left-[50%] w-28 md:w-60 animate-[float_5s_linear_infinite] z-50 hidden md:block"
      >
        <img src="/pc_cup.png" alt="trash" class="hover:scale-110 duration-700" />
      </div>
      <div
        class="pb-4 md:opacity-80 absolute md:bottom-[25%] bottom-[-2%] md:right-[75%] right-[50%] w-40 md:w-72 animate-[float_6s_linear_infinite] z-30 md:py-4 py-0 hidden md:block"
      >
        <img src="/pc_tee.png" alt="trash" class="hover:scale-110 duration-700" />
      </div>
    </div>
  </div>
</section>
<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  /* Floating Animation 2 */
  @keyframes float2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>

<script>
  import { inView } from "motion";

  /* inView Animation */
  const elementmedanimation1 = document.querySelector("#box1");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector("#box2");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>
